@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    content: "";
    background: linear-gradient(60deg, #3347f7, #148DFC, #55a4f3, #5073b8, #198cae, #4ed4ef, #1098ad, #07b39b);
    animation: animategradient 3s ease infinite alternate;
    background-size: 300% 300%;
}

@keyframes animategradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}        
