@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    content: "";
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animategradient 3s ease infinite alternate;
    background-size: 300% 300%;
}

@keyframes animategradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}