---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Steps from "../components/Steps.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="ChatGPT for SQL">
	<main>
		<Hero />
		<Features id="features" />
		<Steps id="how-it-works" />
		<Pricing id="pricing" />
		<FAQ id="faq" />
	</main>
</Layout>
