---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
// import Features from "../components/Features.astro";
import Steps from "../components/StepsImages.astro";
import Pricing from "../components/Pricing.astro";
import FAQ from "../components/FAQ.astro";
// import Testimonials from "../components/Testimonials.astro";
---

<Layout title="SQL Query Builder with AI, Charts, and Dashboards">
  <main>
    <Hero />
    <!-- <Features id="features" /> -->
    <Steps id="how-it-works" />
    <!-- <Testimonials id="testimonials" /> -->
    <Pricing id="pricing" />
    <FAQ id="faq" />
  </main>
</Layout>
