---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact us">
    <section class="py-12 bg-gray-50 sm:py-16 lg:py-20">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="text-center">
                <h2
                    class="text-3xl font-bold text-gray-900 sm:text-4xl xl:text-5xl font-pj"
                >
                    Terms and Conditions
                </h2>
                <p
                    class="max-w-md mx-auto mt-5 text-base font-normal text-gray-600 font-pj"
                >
                    By continuing to use our platform, you agree to these terms
                    and conditions.
                </p>
            </div>
            <div class="mt-12 flex flex-col gap-12 max-w-4xl mx-auto">
                <div>
                    <h2
                        class="text-2xl font-bold text-gray-900 sm:text-3xl xl:text-4xl font-pj"
                    >
                        Biling and Refunds
                    </h2>
                    <p class="mt-5 text-xl font-normal text-gray-900 font-pj">
                        We charge you for access to the product in monthly and
                        yearly plans. Due to the nature of our product, we
                        currently do not offer refunds, either partial or in
                        full. You can easily cancel your subscription at any
                        time you like. We will no longer charge you anything
                        once you cancel your subscription. We may change our
                        pricing, pricing policies, features and access
                        restrictions at any time.
                    </p>
                </div>
                <div>
                    <h2
                        class="text-2xl font-bold text-gray-900 sm:text-3xl xl:text-4xl font-pj"
                    >
                        Emails
                    </h2>
                    <p class="mt-5 text-xl font-normal text-gray-900 font-pj">
                        We may use your email to contact you about your account,
                        product updates, and other marketing activities. You can
                        unsubscribe from these emails at any time you like.
                    </p>
                </div>
                <div>
                    <h2
                        class="text-2xl font-bold text-gray-900 sm:text-3xl xl:text-4xl font-pj"
                    >
                        Conditions
                    </h2>
                    <p class="mt-5 text-xl font-normal text-gray-900 font-pj">
                        We reserve the right to change / amend the policy at any
                        time. By continuing to use our platform, you agree to
                        these terms and conditions.
                    </p>
                </div>
            </div>
        </div>
    </section>
</Layout>
