---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank you for joining DataQuestion Beta!">
  <section class="py-12 bg-gray-50 sm:py-16 lg:py-20">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-center">
        <h1
          class="text-3xl font-bold text-gray-900 sm:text-4xl xl:text-5xl font-pj"
        >
          Thank you for signing up for our beta!
        </h1>
        <p
          class="max-w-md mx-auto mt-5 text-base font-normal text-gray-600 font-pj"
        >
          We will reach out to you soon via email and invite you to our beta.
          Stay tuned!
        </p>
      </div>
    </div>
  </section>
</Layout>
