<section class="py-12 bg-gray-50 sm:py-16 lg:py-20">
    <div class="relative px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="absolute -inset-4">
            <div
                class="w-full h-full mx-auto opacity-30 blur-lg filter"
                style="background: linear-gradient(90deg, #148DFC -0.55%, #32A1FD 22.86%, #4FB5FE 48.36%, #6DC8FE 73.33%, #8ADCFF 99.34%)"
            >
            </div>
        </div>
        <div
            class="relative px-8 py-10 overflow-hidden lg:px-24 md:py-20 bg-white rounded-3xl"
        >
            <div class="max-w-lg mx-auto text-center">
                <h2
                    class="text-3xl font-bold text-gray-900 sm:text-4xl xl:text-5xl font-pj"
                >
                    Bring joy back to your data analytics
                </h2>
            </div>

            <ul
                class="flex flex-col items-center justify-center mt-8 space-y-5 sm:mt-12 lg:mt-16 md:flex-row md:space-y-0 md:space-x-12"
            >
                <li class="flex items-center text-gray-900">
                    <svg
                        class="w-6 h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                    <span class="ml-3 text-lg font-bold font-pj">
                        Super Easy to Use
                    </span>
                </li>

                <li class="flex items-center text-gray-900">
                    <svg
                        class="w-6 h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                    <span class="ml-3 text-lg font-bold font-pj">
                        AI-powered SQL Editor
                    </span>
                </li>

                <li class="flex items-center text-gray-900">
                    <svg
                        class="w-6 h-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                        ></path>
                    </svg>
                    <span class="ml-3 text-lg font-bold font-pj">
                        Automatic charts
                    </span>
                </li>
            </ul>

            <div class="mt-8 text-center sm:mt-12">
                <div class="relative inline-flex group">
                    <div
                        class="absolute duration-1000 rotate-180 transitiona-all opacity-70 -inset-px rounded-xl blur-lg filter group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200"
                        style="background: linear-gradient(90deg, #148DFC -0.55%, #32A1FD 22.86%, #4FB5FE 48.36%, #6DC8FE 73.33%, #8ADCFF 99.34%)"
                    >
                    </div>

                    <a
                        href="https://app.dataquestion.com"
                        title=""
                        class="relative inline-flex items-center justify-center py-3.5 text-base font-bold text-white transition-all duration-200 bg-gray-900 border border-transparent px-9 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 font-pj hover:bg-opacity-90 rounded-xl"
                        role="button"
                    >
                        Get DataQuestion
                    </a>
                </div>

                <p class="mt-5 text-sm font-normal text-gray-500 font-pj">
                    7-day free trial
                </p>
            </div>
        </div>
    </div>
</section>
