<div class="relative max-w-lg mx-auto mt-14">
  <div class="absolute -inset-x-2 -inset-y-5">
    <div class="w-full h-full mx-auto rotate-180 opacity-30 blur-lg filter">
    </div>
  </div>

  <form
    action="https://app.loops.so/api/newsletter-form/cllbu9s1s009vmk0owp2yjmt8"
    method="POST"
    class="relative"
  >
    <input
      type="email"
      name="email"
      placeholder="Enter your email address"
      class="block w-full px-5 py-6 text-base font-normal text-black placeholder-gray-600 bg-white border border-gray-300 rounded-xl focus:border-black focus:ring-1 focus:ring-black font-pj focus:outline-none"
      required
    />

    <div
      class="mt-4 sm:mt-0 sm:absolute sm:inset-y-0 sm:right-0 sm:flex sm:items-center sm:pr-3"
    >
      <button
        type="submit"
        class="inline-flex items-center justify-center w-full px-8 py-4 text-base font-bold text-white transition-all duration-200 gradient-bg border border-transparent sm:w-auto sm:py-3 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 font-pj hover:bg-opacity-90 rounded-xl"
      >
        Join the beta
      </button>
    </div>
  </form>
</div>

<p class="mt-6 text-sm font-normal text-center text-gray-500 font-pj">
  No payments. No commitments
</p>
