---
export interface Props {
	title: string;
}

import Header from "../components/Header";
import Footer from "../components/Footer.astro";
import CTA from "../components/CTA.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | dataquestion.io</title>
	</head>
	<body>
		<Header client:visible />
		<slot />
		<CTA />
		<Footer />
	</body>
</html>
